<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MyDBConnectionString" connectionString="Data Source=localhost;Initial Catalog=MySQLServerDB; Integrated Security=true"
      providerName="System.Data.SqlClient" />
    <add name="SempreEmForma.Properties.Settings.SempreEmFormaConnectionString1"
      connectionString="Data Source=localhost;Initial Catalog=SempreEmForma;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>